body{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    height: 100px;
}


ul {
    color: azure;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:hover{
    color: rgb(4, 0, 255);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100%;
}


.content_1{
    height: 700px;
    background-color: aqua;

}



.content_2{
    height: 700px;
    background-color: rgb(140, 255, 0);

}


.content_3{
    height: 700px;
    background-color: rgb(0, 157, 255);

}

.content_4{
    height: 700px;
    background-color: rgb(255, 187, 0);

}
